
<div class="flex flex-col p-8 w-full md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg mx-auto">
  <p class="text-center text-xl mb-4 text-blue-600 font-bold">HeatMap</p>
  <p class="text-center text-sm mb-2 text-orange-400 font-bold">Choose the parameters and go!</p>
  <div class="params-container">
    <div>
      <label for="rows">Rows</label>
      <input type="number" name="rows" id="rows" min="1" max="10" [(ngModel)]="rows">
    </div>
    <div>
      <label for="columns">Columns</label>
      <input type="number" name="columns" id="columns" min="1" max="10" [(ngModel)]="columns">
    </div>
    <div>
      <label for="start">Range start</label>
      <input type="number" name="start" id="start" min="0" max="1000" step="10" [(ngModel)]="start">
    </div>
    <div>
      <label for="end">Range end</label>
      <input type="number" name="end" id="end" min="0" max="1000" step="10" [(ngModel)]="end">
    </div>
    <button (click)="generate()">Generate</button>
  </div>

  <app-heat-map [data]="heatmapData"></app-heat-map>
</div>
